<configuration>
    <statusListener class="ch.qos.logback.core.status.OnFileStatusListener">
        <fileName>CoWorkly_Debug_Logback.log</fileName>
    </statusListener>

    <appender name="FILE-debug" class="ch.qos.logback.core.FileAppender">
        <file>CoWorkly_Debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-debug-HikariCP" class="ch.qos.logback.core.FileAppender">
        <file>CoWorkly_Debug_HikariCP.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-compile" class="ch.qos.logback.core.FileAppender">
        <file>CoWorkly.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ddnik" level="DEBUG" />
<!--        <appender-ref ref="FILE-debug" />-->

    <!-- Оставить только важное от HikariCP -->
    <logger name="com.zaxxer.hikari" level="INFO" additivity="false">
        <appender-ref ref="FILE-debug-HikariCP"/>
    </logger>

    <!-- <logger name="com.ddnik.tests" level="WARN" -->
    <root level="INFO">
        <appender-ref ref="FILE-debug" />

<!--        Для релиза заменить на-->
<!--        <appender-ref ref="FILE-compile"/>-->
    </root>
</configuration>